@{
    ViewData["Title"] = "Hoş Geldiniz";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="lead">Stok Takip Uygulamasına Hoş Geldiniz!</p>
        <p>Uygulamanın tüm özelliklerine erişmek için aşağıdaki butona tıklayın.</p>
        <a href="@Url.Action("Index", "CihazVeKisi")" class="btn btn-primary">Cihaz ve Kişi Listesi</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-xA4c5ymcJnd6/8q68JDo7F4H0g88WaK5cIouPnhR/3A0mkBLhdf0Bx1JtFDbv/MXkHXxHxnhKFMGEnS9yEDzyA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
